body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For WebKit (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 0.5em; /* Adjust as needed */
}

body::-webkit-scrollbar-thumb {
  background-color: "transparent"; /* Hide the thumb */
}

/* For Firefox */
body {
  scrollbar-width: thin; /* "auto" or "thin" depending on your preference */
}

body::-moz-scrollbar {
  width: 0.5em; /* Adjust as needed */
}

body::-moz-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

code {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
